body{
    background-color:hsl(215, 48%, 88%);
    min-height: 100vh;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.i{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 50%;
    margin-bottom: 45px;
    padding: 5%;
    border-radius: 10%;  
}
.text{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20%;
    margin-bottom: 20%;
    margin-top: 20%;
    padding: 10%;
    width: 75%;

}
.container{
    width: 250px;
    height: 17%;
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 4%;
    box-shadow: 10px 10px 20px rgba(98,98,98,0.24),-10px -10px 20px rgba(111,110,110,0.322);
}
.sizing{
    
    position: relative;
    top: -35px;
}
.small{
    opacity: 0.8;
    
} 
.para{
    text-align: center;
    padding: 5px;
    font-size: 16px;

}